/.gradle/
/.settings/
/bin/
/build/
.project
.classpath
/eclipse/
*.lnk
gradle.properties
CHANGELOG.md
CHANGELOG_MOST_RECENT.md
.idea/
JustAnotherSpawner.iml
JustAnotherSpawner.ipr
JustAnotherSpawner.iws
out/
